
[Desktop Entry]
Type=Application
Exec=/usr/bin/tilda
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=Tilda
Name=Tilda
Comment[en]=
Comment=
